body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

p {
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 15px;
  font-weight: 100;
  line-height: 19px;
}

.wrapper-app {
  max-width: 600px;
  margin: 30px auto;
}
.content-wrapper {
  border: 1px solid #dadde1;
  border-radius: 5px;
  padding: 20px;
}

.weather-icon {
  width: 64px;
  height: 64px;
  margin-right: 5px;
}

.temperature {
  font-size: 64px;

  font-weight: 400;
}

.units a {
  position: relative;
  top: 18px;
  text-decoration: none;
}

.units .active {
  color: black;
  cursor: default;
}
